* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-family: "Noto Sans", "Noto Color Emoji", Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  min-height: calc(var(--vh, 1vh) * 100);

  color-scheme: dark light;
  background-color: #001220;
  background-image: url("./assets/mobileCurves.svg");
  background-position: bottom;
  background-repeat: no-repeat;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  // colors
  --green: #2ecc71;
  --text-color: #fff;
}

body,
input,
textarea,
button {
  font: 400 16px;
}

h1,
a,
span,
p {
  color: var(--text-color);
}
