a.LinkComponent {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 1rem;
  border-radius: 1rem;
  border: 2px solid #ccc;
  text-decoration: none;
  backdrop-filter: blur(100px);
  .Icon {
    width: 2rem;
    height: 2rem;
    svg {
      width: 2rem;
      height: 2rem;
    }
  }

  span {
    margin-left: 1rem;
  }
}
